## Overfitting

In [136]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [139]:
df = pd.read_excel('E:\\Velocity\\Python\\Dataset\\fruits.xlsx')
df.head()

   fruit_label fruit_name  mass  width  height
0            1      apple   192    8.4     7.3
1            1      apple   180    8.0     6.8
2            1      apple   176    7.4     4.7
3            2   mandarin    86    6.2     4.7
4            2   mandarin    84    6.0     4.6

In [140]:
df.shape

(61, 5)

In [430]:
df['fruit_name'].value_counts()

apple       19
orange      19
lemon       16
mandarin     5
mango        2
Name: fruit_name, dtype: int64

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fruit_label  61 non-null     int64
 1   fruit_name   61 non-null     object
 2   mass         61 non-null     int64
 3   width        61 non-null     float64
 4   height       61 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.5+ KB

In [160]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

X_train, X_test, y_train, y_test = train_test_split(df.drop(['fruit_name','fruit_label'],axis=1), 
                                                    df['fruit_label'], test_size=0.20, 
                                                    random_state=0)
dtmodel = DecisionTreeClassifier()
dtmodel.fit(X_train,y_train)

dtmodel_predictions = dtmodel.predict(X_test)

In [161]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(48, 3)
(13, 3)
(48,)
(13,)

In [162]:
from sklearn import tree
clf_2 = tree.DecisionTreeClassifier(min_samples_split=2)
clf_2.fit(X_train,y_train)
pred_2 = clf_2.predict(X_test)

In [163]:
print(pred_2)

[3 3 3 1 1 1 1 3 3 1 2 3 3]

In [164]:
pred_train=clf_2.predict(X_train)
print(pred_train)

[3 3 4 4 2 1 3 4 3 3 4 1 4 3 1 2 3 1 4 1 4 1 1 3 3 1 4 4 4 3 1 1 4 3 2 1 3
 4 1 1 1 3 4 2 1 4 4 4]

In [165]:
from sklearn.metrics import accuracy_score
print('Accuracy on training data is ', accuracy_score(y_train,pred_train))
print('Accuracy on testing data is ', accuracy_score(y_test,pred_2))

Accuracy on training data is  1.0
Accuracy on testing data is  0.6153846153846154

## Adding Data points

In [414]:
df2 = pd.read_excel('E:\\Velocity\\Python\\Dataset\\fruits2.xlsx')
df2.head()

   fruit_label fruit_name  mass  width  height
0            1      apple   192    8.4     7.3
1            1      apple   180    8.0     6.8
2            1      apple   176    7.4     4.7
3            2   mandarin    86    6.2     4.7
4            2   mandarin    84    6.0     4.6

In [431]:
# to over come this problem we simple add new data points.
df2['fruit_name'].value_counts()

apple       19
orange      19
mandarin    16
lemon       16
mango       16
Name: fruit_name, dtype: int64

In [415]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

X_train, X_test, y_train, y_test = train_test_split(df2.drop(['fruit_name','fruit_label'],axis=1), 
                                                    df2['fruit_label'], test_size=0.20, 
                                                    random_state=0)
dtmodel = DecisionTreeClassifier()
dtmodel.fit(X_train,y_train)

dtmodel_predictions = dtmodel.predict(X_test)

In [416]:
from sklearn import tree
clf_2 = tree.DecisionTreeClassifier(min_samples_split=2)
clf_2.fit(X_train,y_train)
pred_2 = clf_2.predict(X_test)
print(pred_2)

[1 1 4 1 5 3 1 4 3 2 2 3 1 5 1 1 3 4]

In [417]:
pred_train=clf_2.predict(X_train)
print(pred_train)

[5 3 1 2 5 4 5 4 2 2 2 2 5 5 3 1 4 4 5 2 4 2 1 1 3 3 2 2 2 1 3 3 1 3 1 4 1
 3 5 5 1 3 5 1 5 1 3 4 2 2 1 2 3 3 4 3 5 4 1 5 3 1 1 2 5 5 4 4]

In [418]:
from sklearn.metrics import accuracy_score
print('Accuracy on training data is ', accuracy_score(y_train,pred_train))
print('Accuracy on testing data is ', accuracy_score(y_test,pred_2))

Accuracy on training data is  1.0
Accuracy on testing data is  0.7777777777777778

## Underfitting

In [434]:
df1 = pd.read_csv('C:\\Users\\user\\Downloads\\archive (5)\\advertising.csv')
df1.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [435]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

X_train, X_test, y_train, y_test = train_test_split(df1.drop(['Sales','TV'],axis=1), 
                                                    df1['Sales'], test_size=0.20, 
                                                    random_state=20)
dtmodel = LinearRegression()
dtmodel.fit(X_train,y_train)

dtmodel_predictions = dtmodel.predict(X_test)

In [436]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(160, 2)
(40, 2)
(160,)
(40,)

In [437]:
from sklearn import linear_model
clf_2 = linear_model.LinearRegression()
clf_2.fit(X_train,y_train)
pred_2 = clf_2.predict(X_test)

In [438]:
print(pred_2)

[14.19452394 15.42975449 13.01777286 12.69603921 15.12790122 15.59993244
 13.4900202  12.73321798 16.95381048 12.69194618 16.52904879 15.44495136
 15.5314008  16.57172161 17.36588014 18.14789854 13.43665649 12.94808919
 15.27376997 13.02237922 15.73128162 14.51377206 18.18039379 18.19916072
 17.37018929 13.24458737 13.15263423 17.18186776 18.68158562 14.73971817
 12.33434404 16.94954956 15.6026341  16.02530391 17.9767268  15.15424442
 15.24880849 13.73063056 15.3631372  13.80445549]

In [439]:
pred_train=clf_2.predict(X_train)
print(pred_train)

[14.86905655 13.8301657  16.49541114 15.47693329 15.47354077 14.90154216
 12.64746904 12.57690732 16.64174107 16.58585324 17.00696771 14.08215781
 13.18140118 17.06310059 16.06433915 17.13775534 18.49583644 15.37580994
 16.87356523 17.26496327 17.38976674 14.2157957  15.98648871 13.00292143
 15.05855333 17.53848183 16.71885242 13.35287977 14.48818151 12.75250788
 12.65104875 12.46650375 12.75693669 15.94422884 13.80004024 15.28276264
 18.2659652  17.56805931 17.35903723 13.19318623 14.78261675 17.40218086
 13.94766116 15.88897401 13.10477422 17.77595829 14.82013131 14.25296482
 16.3814568  13.45074955 12.38684899 14.45356544 18.25771162 17.35945982
 14.99534785 12.95985495 12.51615844 13.77515592 18.1595157  13.33709242
 15.83788936 14.60786531 16.44342916 15.77107524 17.57268495 16.74997559
 13.75600499 13.52290911 13.77348091 13.19475514 13.10757625 15.50550341
 16.83029228 14.15044046 12.57029017 12.54280457 17.31514093 14.3531619
 14.19079564 15.10647122 12.68907663 15.58156882 13.05241787 18.12054225
 16.41037236 13.78351952 14.61231341 14.05556955 15.01427302 16.99152187
 12.20823028 16.09158542 12.62584221 14.54985666 12.48171026 13.77655694
 17.3429816  17.79797878 15.2582759  16.78370397 14.65431466 14.83098044
 13.09883828 14.5583978  12.3089889  16.25485866 14.27796489 14.19520516
 16.34644707 16.76966879 16.0713596  16.81764847 13.33715993 13.78604364
 15.15702324 14.28014357 17.26489575 13.00866053 13.74994939 15.52284038
 14.55966951 12.59493516 16.7053595  15.13694603 13.28443886 13.64080788
 12.72050665 13.41501037 12.4154384  17.57465717 14.62486649 16.09945498
 13.16903528 13.09169817 12.70871195 13.87671543 17.56093848 17.6686211
 13.07273441 12.76142338 17.19611906 13.65922937 16.07066874 14.41749048
 17.70248844 18.14751453 14.32474038 17.94629449 15.5078307  15.03801102
 17.42011225 14.47641575 14.15362651 14.61856584 18.33716955 16.71481726
 16.22065946 17.68970567 18.19343126 17.41641287]

In [440]:
r_squared = r2_score(y_train, pred_train)
print('R Squared Value for training data :', r_squared)

R Squared Value for training data : 0.12574952470803435

In [441]:
r_squared = r2_score(y_test, pred_2)
print('R Squared Value for texting data:', r_squared)

R Squared Value for texting data: 0.11402376451297636